<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<link rel="stylesheet" href="../../styles/homePage/navbar.css">
		<title>Document</title>
		<link rel="stylesheet" href="../../styles/index.css" />
		<link rel="stylesheet" href="../../styles/store/single.css" />
		<link rel="stylesheet" href="../../styles/footer.css" />
	</head>
	<body>
		<div class="container">
			<div class="navbar center">
				<div id="home-logo" class="logo-wrapper">
					<i class="fa fa-book" aria-hidden="true"></i>
					<span>BOOKSTORE</span>
				</div>
				<div class="search-bar">
					<input
						id="search-box"
						placeholder="What book are you looking for?"
					/>
				</div>
				<button id="discover-button">DISCOVER</button>
				<div class="icons-section">
					<div id="notification-button">
						<i class="fa fa-bell-o nav-icon" aria-hidden="true"></i>
					</div>
					<div id="cart-button">
						<i
							class="fa fa-shopping-cart nav-icon"
							aria-hidden="true"
						></i>
					</div>

					<div id="profile-button">
						<img
							class="profile-photo"
							src="../../assets/icons/pfp.jpg"
						/>
					</div>
				</div>
			</div>
			<hr class="divider" />
			<div class="product-section">
				<div class="product-cover">
					<img
						class="cover"
						src="../../assets/imgs/store/book_cover.webp"
					/>
				</div>
				<div class="product-description">
					<span class="product-title">
						<!-- The Lost Colony (The Long Winter Trilogy Book 3) -->
						Kumo Desu ga, Nani ka? (Volume I)
					</span>
					<div class="rating-author">
						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>
							</div>
							<span class="count">(1)</span>
						</div>

						<div class="author">
							<span>By (author)</span>
							<span> <a href=""> Okina Baba </a></span>
						</div>
					</div>

					<span class="product-price"> $29.95 - $59.95 </span>

					<p class="product-synopsis">
						"So I'm a Spider, So What?" is a Japanese light novel
						series by Okina Baba, blending fantasy, action, and
						isekai adventure. The story begins when a high school
						girl suddenly finds herself reincarnated—not as a hero
						or noble—but as a lowly spider monster in a perilous
						labyrinth. With danger lurking at every corner and
						survival far from guaranteed, she must rely on her wits,
						instincts, and evolving skills to climb the food chain.
						As the labyrinth tests her resilience, the mystery
						deepens: her classmates have also been reborn into this
						strange world, but in far more fortunate forms. Why were
						they brought here? What connects their fates? A gripping
						tale of survival, growth, and unraveling destiny begins.
					</p>

					<div class="product-format">
						<span class="format-label">Book Format</span>

						<div class="radio-buttons">
							<label class="radio-container">
								<input
									type="radio"
									name="book-option"
									value="0"
								/>
								Hardcover ($59.95)
								<span class="checkmark"></span>
							</label>

							<label class="radio-container">
								<input
									type="radio"
									name="book-option"
									value="1"
								/>
								Kindle ($42.85)
								<span class="checkmark"></span>
							</label>

							<label class="radio-container">
								<input
									type="radio"
									name="book-option"
									value="2"
								/>
								Paperback ($29.95)
								<span class="checkmark"></span>
							</label>
						</div>
					</div>

					<div class="product-count-cart-container">
						<div class="product-count">
							<button class="mod-count">-</button>
							<input type="number" id="count" value="0" />
							<button class="mod-count">+</button>
						</div>

						<button class="cart-button">Add to Cart</button>
					</div>

					<div class="icons-wrapper">
						<div>
							<i class="fa-regular fa-heart"></i>
							<span>Add to Wishlist</span>
						</div>

						<div>
							<i class="fa-regular fa-share-from-square"></i>
							<span>Share</span>
						</div>
					</div>
				</div>

				<div class="side-products">
					<div class="book-card-record">
						<div class="record-cover-wrapper">
							<img
								class="record-cover"
								src="../../assets/imgs/store/book_cover.webp"
							/>
						</div>
						<div class="record-description">
							<span class="title">
								Until the End of Time: Mind and Matter
							</span>
							<span class="record-price">$15.99</span>
						</div>
					</div>

					<div class="book-card-record">
						<div class="record-cover-wrapper">
							<img
								class="record-cover"
								src="../../assets/imgs/store/side_1.webp"
							/>
						</div>
						<div class="record-description">
							<span class="title"> The Midnight Library </span>
							<span class="record-price">$32.99</span>
						</div>
					</div>

					<div class="book-card-record">
						<div class="record-cover-wrapper">
							<img
								class="record-cover"
								src="../../assets/imgs/store/book_cover.webp"
							/>
						</div>
						<div class="record-description">
							<span class="title">
								Until the End of Time: Mind and Matter
							</span>
							<span class="record-price">$15.99</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<hr class="separator" />

			<div class="top-section">
				<div class="store-description">
					<div>
						<h2>BOOKSTORE</h2>
						<p>
							The largest and most complete and trusted online
							bookstore in the world. With us you can shop online
							& help save your high street at the same time.
						</p>
					</div>
				</div>

				<div class="footer-about">
					<h3>About Bookstore</h3>
					<div>
						<span>Explore</span>
						<span>Jobs</span>
						<span>About Us</span>
						<span>Contact Us</span>
					</div>
				</div>

				<div class="others">
					<h3>Others</h3>
					<div>
						<span>Terms and Conditions</span>
						<span>Privacy Policy</span>
						<span>Help Center</span>
					</div>
				</div>
			</div>

			<div class="bottom-section">
				<p class="copyright-text">
					Copyright &copy; 2022 BookStore. All rights reserved.
				</p>

				<div class="social-links">
					<i class="fa fa-instagram" aria-hidden="true"></i>

					<i class="fa fa-facebook-square" aria-hidden="true"></i>

					<i class="fa fa-linkedin-square" aria-hidden="true"></i>

					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<script>
			// const containerDivs = document.querySelectorAll(".container div");
			// let borderVisible = false;

			// document.addEventListener("keypress", (e) => {
			// 	if (e.key.toLowerCase() === "f") {
			// 		borderVisible = !borderVisible;

			// 		containerDivs.forEach((div) => {
			// 			div.style.border = borderVisible
			// 				? "1px solid black"
			// 				: "none";
			// 		});
			// 	}
			// });

			document.querySelector("#home-logo").addEventListener('click', () => {
				window.location.href = "../homePage.html"
			})
		</script>
	</body>
</html>
