<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="../../styles/index.css" />
		<link rel="stylesheet" href="../../styles/store/store.css" />
	</head>
	<body>
		<div class="container">
			<div class="side-bar">
				<div class="side-bar-card">
					<span class="side-bar-card-title">Categories</span>
					<span>+</span>
				</div>
			</div>

			<div class="store-section">
				<div class="featured"></div>

				<div class="info-stuff">
					<span> Showing 1-12 of 89 results </span>

					<div class="filters">
						<div class="drop-down">Default Sorting</div>

						<div class="drop-down">Show 20</div>

						<button>
							<i class="fa-solid fa-grip"></i>
						</button>

						<button>
							<i class="fa-solid fa-list-ul"></i>
						</button>
					</div>
				</div>
				<div class="products-grid">
					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_cover.webp"
							alt=""
						/>

						<span class="price"> $23.29 </span>

						<div class="title-heart">
							<span class="title">
								Kumo desu ga, nani ka? (Volume I)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>
					
					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_2.webp"
							alt=""
						/>

						<span class="price"> $23.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_cover.webp"
							alt=""
						/>

						<span class="price"> $56.29 </span>

						<div class="title-heart">
							<span class="title">
								Kumo desu ga, nani ka? (Volume I)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>

								<span>(5)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>
					
					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_2.webp"
							alt=""
						/>

						<span class="price"> $83.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_cover.webp"
							alt=""
						/>

						<span class="price"> $23.29 </span>

						<div class="title-heart">
							<span class="title">
								Kumo desu ga, nani ka? (Volume I)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>
					
					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_2.webp"
							alt=""
						/>

						<span class="price"> $23.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>


				</div>
			</div>
		</div>

		<script>
			const containerDivs = document.querySelectorAll(".container div");
			let borderVisible = true;

			document.addEventListener("keypress", (e) => {
				if (e.key.toLowerCase() === "f") {
					borderVisible = !borderVisible;

					containerDivs.forEach((div) => {
						div.style.border = borderVisible
							? "1px solid black"
							: "none";
					});
				}
			});

			const wishlistIcon = document.getElementById("wishlist");

			wishlistIcon.addEventListener("click", () => {
				wishlistIcon.classList.toggle("fa-regular");
				wishlistIcon.classList.toggle("fa-solid");
				wishlistIcon.classList.toggle("toggled");

				setTimeout(() => {
					wishlistIcon.classList.remove("toggled");
				}, 200);
			});
		</script>
	</body>
</html>
