<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="../../styles/index.css" />
		<link rel="stylesheet" href="../../styles/store/store.css" />
		<link rel="stylesheet" href="../../styles/footer.css" />
		<link rel="stylesheet" href="../../styles/homePage/navbar.css" />
	</head>
	<body>
		<div class="navbar center">
			<div id="home-logo" class="logo-wrapper">
				<i class="fa fa-book" aria-hidden="true"></i>
				<span>BOOKSTORE</span>
			</div>
			<div class="search-bar">
				<input
					id="search-box"
					placeholder="What book are you looking for?"
				/>
			</div>
			<button id="discover-button">DISCOVER</button>
			<div class="icons-section">
				<div id="notification-button">
					<i class="fa fa-bell-o nav-icon" aria-hidden="true"></i>
				</div>
				<div id="cart-button">
					<i
						class="fa fa-shopping-cart nav-icon"
						aria-hidden="true"
					></i>
				</div>

				<div id="profile-button">
					<img
						class="profile-photo"
						src="../../assets/icons/pfp.jpg"
					/>
				</div>
			</div>
		</div>
		<hr class="divider" />
		<div class="container">
			<div class="side-bar">
				<div class="side-bar-card">
					<span class="side-bar-card-title">Categories</span>
					<span>+</span>
				</div>
				<div class="side-bar-card">
					<span class="side-bar-card-title">Author</span>
					<span>+</span>
				</div>
				<div class="side-bar-card">
					<span class="side-bar-card-title">Format</span>
					<span>+</span>
				</div>
				<div class="side-bar-card">
					<span class="side-bar-card-title">Filter by Price</span>
					<span>+</span>
				</div>
				<div class="side-bar-card">
					<span class="side-bar-card-title">By Review</span>
					<span>+</span>
				</div>
				<div class="side-bar-card">
					<span class="side-bar-card-title">Featured Books</span>
					<span>+</span>
				</div>
			</div>

			<div class="store-section">
				<div class="featured">
					<div class="featured-left-section">
						<span class="ghost-title">THE BOOKWORM EDITORS</span>
						<span class="featured-title"
							>Featured Books of
							<br />
							The Feburary</span
						>
						<button class="featured-shop-now-btn">Show Now</button>
					</div>

					<div class="featured-right-section">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />
						<img
							src="../../assets/imgs/store/book_cover.webp"
							alt=""
						/>
					</div>
				</div>

				<div class="info-stuff">
					<span> Showing 1-12 of 89 results </span>

					<div class="filters">
						<div class="drop-down">Default Sorting</div>

						<div class="drop-down">Show 20</div>

						<button>
							<i class="fa-solid fa-grip"></i>
						</button>

						<button>
							<i class="fa-solid fa-list-ul"></i>
						</button>
					</div>
				</div>
				<div class="products-grid">
					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_cover.webp"
							alt=""
						/>

						<span class="price"> $23.29 </span>

						<div class="title-heart">
							<span class="title">
								Kumo desu ga, nani ka? (Volume I)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $23.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_cover.webp"
							alt=""
						/>

						<span class="price"> $56.29 </span>

						<div class="title-heart">
							<span class="title">
								Kumo desu ga, nani ka? (Volume I)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>

								<span>(5)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $83.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $83.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $83.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $83.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $83.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $83.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $83.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img
							src="../../assets/imgs/store/book_cover.webp"
							alt=""
						/>

						<span class="price"> $23.29 </span>

						<div class="title-heart">
							<span class="title">
								Kumo desu ga, nani ka? (Volume I)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>

					<div class="product-card">
						<img src="../../assets/imgs/store/book_2.webp" alt="" />

						<span class="price"> $23.29 </span>

						<div class="title-heart">
							<span class="title">
								Mushoku Tensei (Volume XII)
							</span>

							<div>
								<i
									class="fa-regular fa-heart"
									id="wishlist"
								></i>
							</div>
						</div>

						<div class="ratings">
							<div class="stars">
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-solid fa-star check"></i>
								<i class="fa-regular fa-star uncheck"></i>

								<span>(4)</span>
							</div>
						</div>

						<div class="buttons-container">
							<button class="buy-btn">Buy Now</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<hr class="separator" />

			<div class="top-section">
				<div class="store-description">
					<div>
						<h2>BOOKSTORE</h2>
						<p>
							The largest and most complete and trusted online
							bookstore in the world. With us you can shop online
							& help save your high street at the same time.
						</p>
					</div>
				</div>

				<div class="footer-about">
					<h3>About Bookstore</h3>
					<div>
						<span>Explore</span>
						<span>Jobs</span>
						<span>About Us</span>
						<span>Contact Us</span>
					</div>
				</div>

				<div class="others">
					<h3>Others</h3>
					<div>
						<span>Terms and Conditions</span>
						<span>Privacy Policy</span>
						<span>Help Center</span>
					</div>
				</div>
			</div>

			<div class="bottom-section">
				<p class="copyright-text">
					Copyright &copy; 2022 BookStore. All rights reserved.
				</p>

				<div class="social-links">
					<i class="fa fa-instagram" aria-hidden="true"></i>

					<i class="fa fa-facebook-square" aria-hidden="true"></i>

					<i class="fa fa-linkedin-square" aria-hidden="true"></i>

					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<script>
			window.addEventListener("DOMContentLoaded", () => {
				document.querySelectorAll(".product-card").forEach((card) => {
					card.classList.add("pop-in");

					card.addEventListener("animationend", () => {
						card.classList.remove("pop-in");
					});
				});
			});

			const wishlistIcons = document.querySelectorAll("#wishlist");

			const buyButtons = document.querySelectorAll(".buy-btn");

			wishlistIcons.forEach((wishlistIcon) => {
				wishlistIcon.addEventListener("click", () => {
					wishlistIcon.classList.toggle("fa-regular");
					wishlistIcon.classList.toggle("fa-solid");
					wishlistIcon.classList.toggle("toggled");

					setTimeout(() => {
						wishlistIcon.classList.remove("toggled");
					}, 200);
				});
			});

			buyButtons.forEach((buybutton) => {
				buybutton.addEventListener("click", () => {
					window.location.href = "./single.html";
				});
			});

			const homeButton = document.querySelector("#home-logo");

			homeButton.addEventListener("click", () => {
				window.location.href = "../homePage.html";
			});
		</script>
	</body>
</html>
