@import url('./radio.css');

:root {
  --font-product-title: 1.75rem;
  --font-product-price: 1.5rem; 
}

body {
  overflow-x: hidden;
}

.container {
  background-color: var(--color-background);

  width: 100vw;
  min-height: 100vh;
  padding: 0 6rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.divider {
  width: 100%;
  margin: 5rem 0;
  background-color: var(--color-text-secondary);
}

.product-section {
  width: 100%;
  min-height: 700px;
  
  padding: 1rem 1rem;
  box-sizing: border-box;
  margin-bottom: 10rem;

  display: flex;
  justify-content: space-between;
  align-items: start;

  position: relative;
}

.product-section::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -2rem;

  width: 70%;
  height: 1px;

  background-color: var(--color-primary);
}


.product-cover {
  width: 30%;
  height: 620px;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-description {
  width: 35%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.25rem;
}

.product-title {
  width: 90%;

  color: var(--color-text-primary);
  font-size: var(--font-product-title);
}

.rating-author {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0;
  gap: 1.5rem;
}

.author {
  display: flex;
  gap: 1rem;
}

.author span a {
  all: unset;
  color: var(--color-text-secondary)
}

.check {
  color: var(--color-ascent);
}

.uncheck {
  color: var(--color-primary);
}

.side-products {
  width: 20%;
  height: 100%;
}

.product-price {
  font-size: var(--font-product-price);
}

.product-format {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.format-label {
  font-size: 1.15rem;
  font-weight: 500;

  color: var(--color-primary);
}

.product-count-cart-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 5%;
}

.product-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#count::-webkit-outer-spin-button,
#count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#count {
  all: unset;
  border: none;
  background-color: var(--color-background);

  width: 3rem;
  text-align: center;
}

.mod-count {
  color: var(--color-text-primary);
  background-color: var(--color-background);

  border: 1px solid var(--color-primary);
  border-radius: 50%;

  width: 2rem;
  height: 2rem;

  font-size: 18px;

  transition: 350ms ease-in-out;
}

.mod-count:hover {
  color: var(--color-background);
  background-color: var(--color-primary);

  opacity: 0.8;
}


.mod-count:active {
  opacity: 0.5;
}

.cart-button {
  width: 80%;
  height: 3.5rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;

  color: var(--color-background);
  background-color: var(--color-ascent);

  border: 1px solid var(--color-ascent);
  border-radius: 1rem;

  transition: 0.35s ease-in-out;
}

.cart-button:hover {
  color: var(--color-ascent);
  background-color: var(--color-background);
}

.icons-wrapper {
  display: flex;
  justify-content: start;
  gap: 3rem;

  margin-top: 1rem;
}

.icons-wrapper div i {
  color: var(--color-primary);
}

.icons-wrapper div span {
  margin-left: 10px;
}

.side-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 25%;
}

.book-card-record {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;

  width: 100%;
  height: 140px;

  transition: 350ms ease-in-out;

  padding: 1rem;
}

.book-card-record:hover {
  background-color: #e2dddc;;
}

.record-cover-wrapper {
  width: 100px;
  height: 100%;
}

.record-cover {
  width: 100%;
  height: 100%;
 
  object-fit: contain; 
}

.record-description {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

