body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar {
	margin-left: 6rem;
}


.container {
	box-sizing: border-box;

	width: 100vw;
	min-height: 100vh;

	padding: 0 6rem;

	display: flex;
	justify-content: space-between;
	align-items: start;

	background-color: var(--color-background);

  margin-top: 6rem;
}

/* .container div {
	border: 1px solid black;
} */

.side-bar {
	width: 20%;

	display: flex;
	flex-direction: column;
	justify-content: start;

	gap: 1rem;
}


.side-bar-card {
  width: 100%;
  height: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  box-sizing: border-box;
}

.store-section {
	width: 75%;

	display: flex;
	flex-direction: column;
  justify-content: start;
  gap: 2rem;

	margin-bottom: 10rem;
}

.featured {
	height: 450px;

  display: flex;
  justify-content: space-between;
  align-items: top;

  box-sizing: border-box;

  padding: 1rem;
}

.featured-left-section {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ghost-title {
  color: var(--color-text-secondary);
  font-weight: bold;
}

.featured-title {
  font-size: 3.5rem;
  font-weight: 500;

  width: 90%;
}

.featured-shop-now-btn {
  background-color: var(--color-primary);
  color: var(--color-background);

  border: 1px solid var(--color-primary);
  border-radius: 1rem;

  font-size: 1.25rem;

  width: 20rem;
  height: 5rem;

  margin-top: 1rem;


  transition: all 0.35s ease-in-out;
}

.featured-shop-now-btn:hover {
  background-color: var(--color-ascent);
  border: 1px solid var(--color-ascent);
}

.featured-right-section {
  width: 55%;
  height: 100%;

	display: flex;
	justify-content: space-between;
}

.featured-right-section img {
	width: 100%;
	height: 100%;

	object-fit: contain;
}


.info-stuff {
	display: flex;
	justify-content: space-between;
}

.info-stuff span {
	flex: 1fr;
}

.filters {
	display: flex;
	gap: 2rem;
}

.products-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 580px);
	gap: 2rem;
}

.product-card {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
}

.product-card img {
	width: 100%;
	height: 300px;
	object-fit: contain;
	margin-bottom: 1rem;
}

.title-heart {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.title {
	width: 80%;
	min-height: 2rem;

	color: var(--color-text-primary);
}

#wishlist {
	color: var(--color-ascent);
	transition: color 0.3s ease, transform 0.2s ease;
}

#wishlist:hover {
  transform: scale(1.1);
}

#wishlist.toggled {
	transform: scale(1.3);
}

.ratings {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0.125rem 0;
	gap: 1.5rem;
}

.check {
	color: var(--color-ascent);
}

.uncheck {
	color: var(--color-primary);
}

.ratings span {
	margin-left: 1rem;
}

.buy-btn {
	width: 100%;
	height: 3.5rem;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	font-size: 1rem;
	font-weight: 600;

	color: var(--color-background);
	background-color: var(--color-ascent);

	border: 1px solid var(--color-ascent);
	border-radius: 1rem;

	transition: 0.35s ease-in-out;
}

.buy-btn:hover {
	color: var(--color-ascent);
	background-color: var(--color-background);
}
